<!DOCTYPE html>
<html ng-app="boot">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.css" media="screen" title="no title">
  <link rel="stylesheet" href="./fonts.css" media="screen" title="no title">
  <link rel="stylesheet" href="./style.css" media="screen" title="no title">
  <title></title>
</head>

<body ng-controller="mainCtrl">

  <div class="">
    <div class="">
      <h1>Puppy Love</h1>
    </div>
  </div>


  <div class="">

    <div class="">
      <div ng-repeat="dog in dogs" class="">
        <a href="#" class="" title="{{dog.name}}">
          <img ng-src="{{dog.picture}}" alt="puppy picture" />
        </a>
        <h2>{{dog.name}}</h2>
        <button class="" ng-click="addLike(dog.id)">
          Likes <span class="">{{dog.likes}}</span>
        </button>
      </div>
    </div>

    <div class="">

      <div class="">
        <div class="">
          <h3 class="">Need more puppies?</h3>
        </div>
        <div class="">
          <button type="button" class="" >Add a Puppy</button>
        </div>
      </div>

      <div id="addModal" class="" >
        <div class="">
          <!-- Modal content-->
          <div class="">
            <div class="">
              <button type="button" class="close" >&times;</button>
              <h4 class="">Add a Movie</h4>
            </div>
            <div class="">

              <input type="text" ng-model="newPuppy.name" placeholder="Name">
              <input type="text" ng-model="newPuppy.picture" placeholder="Picture URL">
              <button type="button" ng-click="addPuppy(newPuppy)">Add Puppy</button>

            </div>
            <div class="">
              <button type="button" class="" >Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="photo-bank">

      <div class="">
        <div class="">
          <div class="">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=251" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=252" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=253" class="img-fluid">
            </a>
          </div>
          <div class="">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=254" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=255" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="https://unsplash.it/280.jpg?image=256" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-container">

      <div id="puppy-carousel" class="" >
        <!-- Indicators -->
        <ol class="">
          <li class=""></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="">
          <div class="">
            <img src="http://www.pamperedpetz.net/wp-content/uploads/2015/09/Puppy1.jpg" alt="...">
            <div class="">
              Now those are what I call bedroom eyes.
            </div>
          </div>
          <div class="">
            <img src="http://cdn.skim.gs/image/upload/v1456344012/msi/Puppy_2_kbhb4a.jpg" alt="...">
            <div class="">
              Stop. Just...stop.
            </div>
          </div>
          <div class="">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2015/08/strange-puppy-lucky-hssv-adopt-christine-doblar-1.jpg" alt="...">
            <div class="">
              Woa, what the
            </div>
          </div>
          <div class="">
            <img src="http://sitmeanssit.com/dog-training-mu/tulsa-oklahoma/files/2016/07/innocent-puppy-eyes.jpg" alt="...">
            <div class="">
              That's more like it.
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="" href="#puppy-carousel">
          <span class="" aria-hidden="true"></span>
          <span class="">Previous</span>
        </a>
        <a class="" href="#puppy-carousel">
          <span class="" aria-hidden="true"></span>
          <span class="">Next</span>
        </a>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.js"></script>
    <script type="text/javascript">
      // Tooltips
      $("body").tooltip({
        selector: '[data-toggle=tooltip]'
      });

      // Lightbox
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./mainCtrl.js"></script>
    <script type="text/javascript" src="./dataService.js"></script>

</body>

</html>
