<!DOCTYPE html>
<html ng-app="boot">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="./fonts.css" media="screen" title="no title">
  <link rel="stylesheet" href="./style.css" media="screen" title="no title">
  <title></title>
</head>

<body ng-controller="mainCtrl">

  <div class="jumbotron">
    <div class="container">
      <h1>Puppy Love</h1>
    </div>
  </div>
<div class="container-fluid">

<div class="row well well-lg">
  <div ng-repeat="dog in dogs" class="dog-card col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img ng-src="{{dog.picture}}" alt="puppy picture" />
      </a>
      <h2>{{dog.name}}</h2>
      <button class="btn btn-primary" ng-click="addLike(dog.id)">
        Likes <span class="badge">{{dog.likes}}</span>
      </button>
  </div>
</div>

<div class="container col-md-6">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Need more puppies?</h3>
    </div>
    <div class="panel-body">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addModal">Add a Puppy</button>
    </div>
  </div>

</div>

  <!-- <div class="movie-list" ng-repeat="movie in movies">
    <div class="movie">
      <h2>{{movie.title}}</h2>
      <h4>Rating: {{movie.rating}}</h4>
    </div>
  </div> -->

  <div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a Movie</h4>
        </div>
        <div class="modal-body flex">

          <input type="text" ng-model="newPuppy.name" placeholder="Name">
          <input type="text" ng-model="newPuppy.picture" placeholder="Picture URL">
          <button type="button" ng-click="addPuppy(newPuppy)">Add Puppy</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <script type="text/javascript" src="./app.js"></script>
  <script type="text/javascript" src="./mainCtrl.js"></script>
  <script type="text/javascript" src="./dataService.js"></script>

</body>

</html>
